<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
  <div class="navbar">
    <h1 id="h1first"><em>Blog Website</em></h1>
    <nav>
        <a id="s1" href="/">Home</a>
        <a id="s2" href="/create">Create</a>
    </nav>
  </div>
    